default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  host: db

development:
  <<: *default
  database: chat_server_development

test:
  <<: *default
  database: chat_server_test
  